:root {
  --background-grey: #121212;
  --foreground-grey: #282828;
  --text-purple: #CDBDFA;
  --text-dark-purple: #9D8DFA;
  --text-grey: #787878;
  --text-light-grey: #A0A0A0;

  background-color: var(--background-grey);
}

:host {
  color: #FFFFFF !important;
}

d2l-navigation-main-header {
  background-color: var(--background-grey);
}

.ek-modal-content {
  background-color: var(--foreground-grey);
  color: #FFFFFF;
}

p, h2, h3 {
  color: #FFFFFF !important;
}

:host(p, h2, h3) {
  color: #FFFFFF !important;
}


:host(.d2l-card-container) {
  color: #FABCAB;
}


/* BEGIN CONTENT BUTTONS */
.d2l-iterator-button {
  background-color: var(--foreground-grey);
  border-color: #000000;
}

d2l-icon {
  color: #FFFFFF;
}
/* END CONTENT BUTTONS */

:host(p) {
  color: #FFFFFF;
}

a { 
  color: var(--text-purple);
}

a:visited { 
  color: var(--text-purple);

}

.d2l-box {
  color: var(--foreground-grey);
}

:host(.d2l-enrollment-card) {
  color: var(--foreground-grey);
}



d2l-dropdown-content > * {
  background-color: var(--foreground-grey);
}
.d2l-textblock {
  color: #FFFFFF;
}

.d2l-link {
  color: var(--text-purple) !important;
}

:host(.d2l-dropdown-content-top) {
  color: var(--background-grey);
}

.d2l-navigation-separator {
  margin: 0px, -1px !important;
}

.logo {
  height: 30%;
  width: 30%;
  object-fit: contain;
  padding: -10;
  margin: 0;
  border: 0;
}

d2l-navigation-main-footer {
  background-color: var(--foreground-grey) !important;
}

.d2l-navigation-s-personal-menu-text {
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

.evalkit-list-item {
  color: var(--text-grey);
}

.d2l-body {
  background-color: var(--background-grey);
}


.d2l-page-main-padding {
  background-color: var(--background-grey);
}


.d2l-navigation-s-link {
  color: #FFFFFF !important;
} 

.d2l-widget {
  background-color: var(--foreground-grey);
}

.d2l-card-container .d2l-card-link-container {
  background-color: var(--foreground-grey) !important;
}

.d2l-inline {
 color: #FFFFFF !important; 
}


.d2l-heading, .d2l-tab-text, .d2l-texblock, .d2l-skeletize {
 color: var(--text-grey) !important; 
}


tr, th, td {
  background-color: var(--foreground-grey);
}

table {
  color: var(--foreground-grey);
}

.d2l-tool-actions {
  color: var(--foreground-grey);
}

label, span {
  color: var(--text-light-grey) !important; 
}

label span {
  color: var(--text-light-grey) !important; 
}

body {
  background-color: var(--background-grey) !important;
}
